<p>{{ liked }}</p>
{% if liked %}
<button type="submit" name="food_pk" value="{{ food.pk }}" class="btn btn-lg btn btn-info bi bi-emoji-angry thumb"  style=" margin-right: 120px" > Unlike
{#                            <span><i class="bi bi-emoji-angry "></i></span> Unlike#}
</button>

{% else %}
<button type="submit" name="food_pk" value="{{ food.pk }}" class="btn btn-lg btn btn-danger bi bi-emoji-heart-eyes thumb"  style=" margin-right: 120px" > Like
{#                             <span><i class="bi bi-emoji-heart-eyes"></i></span> Like#}
</button>

{% endif %}