<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Add Food to System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href='{% static "style/login.css"%}'>

</head>
<body>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">Update Food</h3>
            </div>
            <div class="d-flex justify-content-center form_container">

                <form method="POST" action="{% url 'update_food' pk=food.pk %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form }}

                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn" type="submit" value="Update">
                    </div>
                </form>
            </div>

            {{ form.errors }}

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    <a href="{% url 'restaurant_main_page' %}" class="ml-2">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Food Name...';
		form_fields[2].placeholder='Category...';
		form_fields[3].placeholder='Price...';
		form_fields[4].placeholder='Description...';

		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
	</script>
</body>
</html>
