{%  extends 'djangoP/main.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>See Comments</title>
</head>
<body>
<br>

<div class = "jumbotron text-center" >
    <h1> Hey {{ user }}!</h1>

    {% if searched %}
        <h1> You searched for {{ searched }}...</h1>
        <br/>
        {% for food in foods %}
            <a href="{% url 'restaurant_food_details' pk=food.pk %}"><h1>{{ food.food_name }}</h1></a><br/>
        {% endfor %}

    {% else %}
        <h1> You forgot to search...</h1>
    {% endif %}

</div>
</body>
</html>
{% endblock %}

