{%  extends 'djangoP/main.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>See Comments</title>
</head>
<body>
<br>

<div class = "jumbotron text-center" >
    <h1> Hey {{ customer_name }}!</h1>

    <h3>Comments are below:</h3>
    <hr>

    <table id="products" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
            <th>Customer Name</th>
            <th>Comment</th>
        </tr>
      </thead>
      <tbody>
          {% for comment in comments %}
              <tr>
                    <td><a href="{% url 'restaurant_customer_profile' pk=comment.customer.pk %}">{{ comment.customer }}</a></td>
                    <td>{{ comment.content }}</td>
              </tr>
          {% endfor %}
      </tbody>
      <tfoot>
            <th>Customer Name</th>
            <th>Comment</th>
    </table>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
<script>
$(document).ready(function() {
    $('#products').DataTable();
} );

</script>
</div>
</body>
</html>
{% endblock %}

