{%  extends 'djangoP/main.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>

</head>
<body>
<br>

<div class = "jumbotron text-center" >
    <h1> Hey {{ customer }}!</h1>

    <h3>Your ordered foods are below:</h3>
    <hr>

    <table id="products" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
            <th>Date</th>
            <th>Restaurant Name</th>
            <th>Food Name</th>
            <th>Message</th>
            <th>Status</th>
        </tr>
      </thead>
      <tbody>
          {% for order in orders %}
              <tr>
                    <td>{{ order.date }}</td>
                    <td>{{ order.food.restaurant }}</td>
                    <td>{{ order.food }}</td>
                    <td>{{ order.message }}</td>
                    <td>---------</td>
                    <td><button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_remove_order_{{ food.id }}">
                        Remove Order
                    </button></td>
                    <!-- Modal -->
                    <div class="modal fade" id="modal_remove_order_{{ comment.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Remove Order</h5>
                              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                  <span>&times;</span>
                              </button>

                          </div>
                          <div class="modal-body">
                            Are you sure to remove your order for the {{ order.food }} of {{ order.food.restaurant }} ?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                            <form action="{% url 'remove_order_customer' pk=order.pk %}" method="POST">
                                {% csrf_token %}
                                <input class="btn btn-primary" type="submit" value="Remove">
                            </form>

                            <!--<button type="button" class="btn btn-primary">Remove</button>-->
                          </div>
                        </div>
                      </div>
                    </div>
              </tr>
          {% endfor %}
      </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
    $(document).ready(function() {
        $('#products').DataTable();
    } );

    </script>
</div>
</body>

</html>
{% endblock %}