{%  extends 'djangoP/main.html' %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <link rel="stylesheet" href='{% static "style/rateStar.css"%}'>
    <html lang="en">
        <head>
             <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <div class="well well-sm Leanor" style="display: flex; justify-content: center; background: #e9e9f5!important;">
{#                <form action="{% url 'like_food' pk=food.pk %}" method="POST">#}
{#                    {% csrf_token %}#}
                <div class="like-div">
                    {% include 'djangoP/like.html' %}
                    </div>
{#                </form>#}


                <div >
                    <img class="menu-image" src= "{{ BASE_DIR }}/static/images/{{ food.food_pic }}" alt="{{ food.food_name }}" >
{#                   <h2 style="text-align: center"> Total Likes: {{ total_likes }} <div style="display: inline"></div> </h2>#}

                </div>

                 <button type="button" class="btn btn-lg btn btn-success" style="width: 300px; margin-left: 120px " data-bs-toggle="modal" data-bs-target="#modal_order_food_{{ food.id }}">
                        <span><i class="fas fa-dollar-sign"></i></span> Order Now</a>
                 </button>
                 <div class="modal fade" id="modal_order_food_{{ food.id }}" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="orderModalLabel">Order {{ food }}</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span>&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="{% url 'make_order' pk=food.pk %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    If you want to order {{ food }} please bring a message to confirm it. (Please also let us know if you want to change anything in your ordering food.)
                                    <br>
                                    {{ order_form }}
                                    <div class="d-flex justify-content-center mt-3 login_container">
                                        <input class="btn btn-primary" type="submit" value="Order">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </head>

        <body>
            <table id="products" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <div class="card card-body">

                </div>
                <div class="card card-body">
                    <h2 style="text-align: center"> {{ food.food_name }} <div style="display: inline"></div> </h2>
                    <h2 style="text-align: center">Food Details</h2>
                </div>
                <thead>
                    <tr>
                        <th>Food Name</th>
                        <th>Category</th>
                        <th>Price</th>

                    </tr>
                  </thead>
                  <tbody>
                          <tr>
                                <td>{{ food.food_name }}</td>
                                <td>{{ food.category }}</td>
                                <td>{{ food.price }}</td>
                                <td><button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_make_comment_{{ food.id }}">
                                     Make Comment
                                </button></td>
                                <td><a class="btn btn-sm btn-outline-primary" href="{% url 'see_comments' pk=food.pk %}">See Comments</a></td>
                          </tr>
                  </tbody>
            </table>
             <div class="modal fade" id="modal_make_comment_{{ food.id }}" tabindex="-1" aria-labelledby="makeCommentModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="makeCommentModalLabel">Comment on {{ food }}</h5>
                                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                    <span>&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="POST" action="{% url 'make_comment' pk=food.pk %}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    Give your comment on {{ food }} here:
                                                    <br>
                                                    {{ comment_form }}
                                                    <div class="d-flex justify-content-center mt-3 login_container">
                                                        <input class="btn btn-primary" type="submit" value="Save">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            <div class="card card-body">
                <h2 style="text-align: center">Food Description</h2>
            </div>
            <div class="card card-body">
                <p style="text-align: center"><strong>{{ food.description }}</strong></p>
            </div>"
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <script>
            $(function() {
                $('.thumb').click(function () {

                $.ajax({
                    type: 'POST',
                    url: '{% url 'like_food' pk=food.pk %}',
                    data: {
                        'food_id': {{ food.id }},
                        'liked': true,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: LikePost,
                    dataType: 'html'
                });

                function LikePost(data) {
                    console.log(data)
                    const d = $.parseJSON(data)
                    if (d['liked']) {
                        $('.thumb').removeClass("btn btn-lg btn btn-danger bi bi-emoji-heart-eyes").addClass('btn btn-lg btn btn-info bi bi-emoji-angry')
                        $('.thumb').html(" Unlike")

                    }
                    else
                        {
                            $('.thumb').removeClass("btn btn-lg btn-info bi bi-emoji-angry").addClass('btn btn-lg btn btn-danger bi bi-emoji-heart-eyes')
                            $('.thumb').html(" Like")
                        }
                    // $('.like-div').html(d['html'])

                }
            });
        })
        </script>
        </body>
    </html>

{% endblock %}