{%  extends 'djangoP/main.html' %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <link rel="stylesheet" href='{% static "style/rateStar.css"%}'>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <div class="well well-sm Leanor" style="display: flex; justify-content: center; background: #e9e9f5!important;">
                <form action="{% url 'like_food' pk=food.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="food_pk" value="{{ food.pk }}" class="btn btn-lg btn btn-warning"  style="width: 300px; margin-right: 120px">
                         <span><i class="fas fa-heart"></i></span> Like </button>
                </form>


                <div >
                    <img src="../../../static/images/eatit.jpeg" alt="course image" width="250" height="250" >
                    <h2 style="text-align: center"> Total Likes: {{ total_likes }} <div style="display: inline"></div> </h2>
                </div>

                <a href="{% url 'index' %}" class="btn btn-lg btn btn-success" style="width: 300px; margin-left: 120px ">
                    <span><i class="fas fa-dollar-sign"></i></span> Order Now</a>

            </div>
        </head>

        <body>
            <table id="products" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <div class="card card-body">

                </div>
                <div class="card card-body">
                    <h2 style="text-align: center">Food Details</h2>
                </div>
                <thead>
                    <tr>
                        <th>Food Name</th>
                        <th>Category</th>
                        <th>Price</th>

                    </tr>
                  </thead>
                  <tbody>
                          <tr>
                                <td>{{ food.food_name }}</td>
                                <td>{{ food.category }}</td>
                                <td>{{ food.price }}</td>
                                <td><a class="btn btn-sm btn-outline-primary" href="{% url 'index' %}">Make Comment</a>
                                <td><a class="btn btn-sm btn-outline-primary" href="{% url 'index' %}">See Comments</a></td>
                          </tr>
                  </tbody>
            </table>
            <div class="card card-body">
                <h2 style="text-align: center">Food Description</h2>
            </div>
            <div class="card card-body">
                <p style="text-align: center"><strong>{{ food.description }}</strong></p>
            </div>
        </body>
    </html>

{% endblock %}